@{
    ViewBag.Title = "Kontakt";
}

<address>
    ul. Zdrojowa 51 <br />
    84-150 Jastarnia<br />
    <abbr title="Telefon"></abbr>
    +48 58 223 45 56
</address>
<html>
<head>
    <style>
      #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
  function initMap() {
      var jastarnia = { lat: 54.699161, lng: 18.685900 }; 
       var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 16, center: jastarnia});
       var marker = new google.maps.Marker({position: jastarnia, map: map});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=MojKluczAPI&callback=initMap">
</script>
</body>
</html>