
@{
    ViewBag.Title = "Pool";
}

<div class="jumbotron" align="justify">
    <h2>Poznaj nasz świat basenów</h2>
   <p class="lead">
        <br />
        Gdy na dworze pada lub na urlop wybieramy się zimą, aktywny czas spędzimy w rozbudowanej strefie Wellness z basenami. 
        Znajdziemy tutaj brodzik dla dzieci, najnowocześniejszą strefę saun oraz siłownię. Centralne atrakcje strefy to basen pływacki z przeciwprądem o
        wymiarach 8 m x 17,5 m oraz basen rekreacyjny z atrakcjami wodnymi jak: gejzery, kaskada (prysznic strumieniowy) 
        i leżanki z masażem powietrznym. Wszystkie atrakcje zostały przygotowane z najwyższą dbałością o bezpieczeństwo naszych Gości.

    </p>
</div>