
@{
    ViewBag.Title = "Sauna";
}

<div class="jumbotron" align="justify">
    <h2>Poznaj nasz świat saun</h2>
    <br />
    <h3>Sauna Kelo</h3>
    <p class="lead">
        Temperatura: 85 – 95 º C<br />
        Wilgotność: 10 – 20 %<br />
        <br />
        Sauna Kelo jest sauną zewnętrzną typu fińskiego, na środku której znajduje się kominek.
        Fińska sosna polarna rośnie przez kilka stuleci. Po fazie wzrostu rozpoczyna się proces kelo – powolne schnięcie drewna.
        Proces konserwacji nadaje Kelo trwałości, srebrnoszarej patyny i złotawych pęknięć.
        Słoje i powyginane linie należą do charakterystycznych właściwości tego drewna i nadają mu swoistą formę i charakter.
        Saunę charakteryzuje piękny, żywiczny zapach unoszący się wewnątrz pomieszczenia.
        W saunie Kelo odbywają się seanse saunowe, podczas których saunamajster dla spotęgowania odczucia ciepła
        w saunie suchej polewa kamienie pieca dużą ilością wody w połączeniu z określonymi aromatami.
    </p>
</div>
<div class="jumbotron" align="justify">
    <h3>Sauna Event</h3>
    <p class="lead">
        Temperatura: 85 – 95 º C<br />
        Wilgotność: 10 – 20 %<br />
        <br />
        Sauna Event to sauna rozgrzana do niezwykle wysokich, a zarazem typowych dla saun temperatur od 60º do 100º Celsjusza.
        W saunie Event odbywają się seanse saunowe, podczas których saunamistrz dla spotęgowania odczucia ciepła w saunie suchej
        polewa kamienie pieca dużą ilością wody w połączeniu z określonymi aromatami i rozprowadza ciepło za pomocą ręcznika.
    </p>

</div>
<div class="jumbotron" align="justify">
    <h3>Sauna z zastosowaniem łagodnej pary</h3>
    <p class="lead">
        Temperatura: 46 – 60 º C<br />
        Wilgotność: 40 – 55 %<br />
        <br />
        Sauna z zastosowaniem łagodnej pary o temperaturze mieszczącej się w przedziale od 46º do 60º Celsjusza
        oraz wilgotności powietrza wahającej się między 40 a 55 %. Cyklicznie zmieniające się oświetlenie wzbogaca pobyt w saunie
        o efekt światłoterapii. Jest to idealne miejsce dla osób, które rozpoczynają przygodę z saunowaniem. To doskonały wybór
        dla klientów chcących uniknąć bardzo wysokich temperatur saun suchych i bardzo wysokiej wilgotności łaźni parowych.
    </p>

</div>
<div class="jumbotron" align="justify">
    <h3>Strefa VIP</h3>
    <p class="lead">
        <br />
        Specjalnie wydzielona strefa VIP stanowi uzupełnienie oferty saun i łaźni Świata Saun.<br />
        To miejsce można wynająć na wyłączność. W strefie znajdują się sauna suchej o temperaturze 85⁰C – 95⁰C oraz ekskluzywna łaźnia turecka,
        wyposażona w jacuzzi, o temperaturze 46⁰C – 50⁰C i wilgotności 100%. Zarówno jej lokalizacja, jak i wyposażenie zapewniają pełną prywatność i komfort wypoczynku.
    </p>

</div>